service cloud.firestore {
  match /databases/{database}/documents {
  
    function isUserAuthenticated(userId) {
        return request.auth != null && request.auth.uid == userId;
    }
  
    match /requests/{document=*} {
        allow read, write: if true;
    }
    
    match /cards/{document=*} {
        allow read: if request.auth.uid == resource.data.uid;
    }
    
    match /cards/{card}/history/{document=*} {
        function getCardUid() {
            return get(/databases/$(database)/documents/cards/$(card)).data.uid
        }
    
        allow read: if request.auth.uid == getCardUid()
    }
    
    match /users/{user=**} {
      function getDocumentUid() {
        return get(/databases/$(database)/documents/users/$(user)).data.uid;
      }
        allow read, write: if isUserAuthenticated(resource.data.uid);
    }
  }
}